/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /*
 #03255b
 #ee9632
 */
.model-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.model-sidebar{
    width: 25%;
}
.model-content {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.model-content.search {
    width: 100%;
}
.splide__list {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    margin: 0!important;
    padding: 0!important;
}
.splide_xyz {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 5px #e0e0e0;
    border: 1px solid #e0e0e0;
    width: 33.33%;
}

.model-content .splide_abc {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 5px #e0e0e0;
    border: 1px solid #e0e0e0;
    width: calc(33.33% - 16px);
    margin-left: 8px;
    margin-right: 8px;
}

.model-content.model-5 .splide_abc {
    width: calc(20% - 16px);
}
.model-content.model-4 .splide_abc {
    width: calc(25% - 16px);
}
.model-content.model-3 .splide_abc {
    width: calc(33.33% - 16px);
}
.model-content.model-2 .splide_abc {
    width: calc(50% - 16px);
}
.model-content.model-1 .splide_abc {
    width: calc(100% - 16px);
}

.model-modal.left .model-content .splide_abc, .model-modal.right .model-content .splide_abc {
    width: calc(50% - 16px);
}
.model-modal .model-content .splide_abc {
    margin-bottom: 16px;
}

.print-list-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.print-part2 {
    padding-left: 15px;
    padding-right: 15px;
}
.print-headline{
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: hidden;
}

.print-headline h3 {
    font-weight: 700;
    font-size: 18px;
    color: #2a2a2a;
    margin: 0px;
}
.print-headline a.link {
    color: #2a2a2a;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.print-headline a.link:hover {
    color: #ee9632;
}

.print-taxonomy {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.print-taxonomy a {
    color: #03255b;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -.005em;
    text-decoration: none;
}
.print-taxonomy .print-extra ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
}
.print-extra li {
    margin-left: 5px;
    margin-right: 5px;
}
.print-extra li:first-child {
    margin-left: 0px;
}
.print-extra li:last-child {
    margin-right: 0px;
}
.print-extra li a {
    color: #555555;
    font-size: 12px;
    display: inline-block;
    border: 1px solid #555555;
    border-radius: 3px;
    padding: 2px 6px 0px 6px;
    text-decoration: none;
    min-width: 40px;
    text-align: center;
}
.print-extra li i {
    font-size: 14px;
}
.print-extra li span{
    margin-left: 3px;
}
.CollectThingWindow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background: rgba(25,110,240,.9);
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;

    display: none;
}

/* Model Search Collection */
.dashboard-searchbar {
    display: flex;
    justify-content: center;
}
@media (min-width: 1025px){
    form.searchBar-pGWTK {
        max-width: 620px;
    }
}
.dashboard-searchbar form {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
}
.dashboard-searchbar form input[type="text"] {
    border: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 40px 5px 15px;
    background-color: #F3F5F9;
    width: 100%;
    height: 47px;
    caret-color: #fa6831;
}
.dashboard-searchbar form input.error{
    border: 1px solid red;
}
.dashboard-searchbar form input::placeholder {
    color: #fa6831;
    opacity: 1; /* Firefox */
}
  
.dashboard-searchbar form input::-ms-input-placeholder { 
    /* Edge 12 -18 */
    color: #fa6831;
}
form button[type="submit"] {
    border: 1px solid #fa6831;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    line-height: 1;
    background-color: #fa6831;
    color: #f85555;
    border-radius: 5px;
    padding: 14px 35px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 200px;
    margin-bottom: 0px;
}
form button[type="submit"]:hover {
    color: #fff;
}
.dashboard-main {
    background-color: #F3F5F9;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.searchIcon-MYkVc {
    width: 100%;
    position: relative;
    margin-right: 20px;
}

.searchIcon-MYkVc span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5px;
    cursor: pointer;
}

.searchIcon-MYkVc i {
    font-size: 16px;
    color: #fa6831;
}

/* PreLoader CSS */
.preloader-container {
    height: 48px;
    display: flex;
    justify-content: center;
}
.preloader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.preloader::after,
.preloader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fa6831;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .preloader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
}
  
.preloader-container.d-none{
    display: none;
}

/* Search modal results */
.model-modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100% !important;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.model-modal .modal-content, .model-modal.center .modal-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    background-color: #fefefe;
    padding: 50px 30px;
    border: 1px solid #888;
    width: 75%;
    border-radius: 4px;
}
.model-modal.left .modal-content{
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 30%;
    height: 100vh;
    right: unset;
    transform: unset;
}
.model-modal.right .modal-content{
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 30%;
    height: 100vh;
    left: unset;
    transform: unset;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    width: 30px;
    text-align: center;
    top: 10px;
    padding: 0px 2px 5px 2px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.model-modal .splide__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.model-modal .search-results {
    overflow-y: auto;
    max-height: 100%;
}
.model-modal.center .search-results {
    overflow-y: auto;
    height: 580px;
}

a.store-btn {
    padding: 7px 15px;
    background-color: #03255b;
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    position: relative;
}

a.store-btn:hover {
    color: #fff;
}

a.store-btn:before{
    content: "";
    width: 2px;
    height: 120%;
    background: #03255b;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 1023px) {
    .model-modal .splide_abc, .model-container .splide_abc {
        width: calc(33.33% - 16px);
    }
}

@media only screen and (max-width: 767px) {
    .dashboard-main {
        flex-direction: column;
    }
    a.store-btn {
        margin-top: 15px;
        margin-left: 0px;
    }
    a.store-btn:before{
        display: none;
    }
    .dashboard-searchbar form button {
        width: 150px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dashboard-searchbar form input[type="text"] {
        height: 45px;
    }
    .model-modal .modal-content {
        width: 95%;
    }
    .model-modal .splide_abc, .model-container .splide_abc {
        width: calc(50% - 16px);
    }
}
@media only screen and (max-width: 544px) {
    .model-modal .splide_abc, .model-container .splide_abc {
        width: calc(100% - 16px);
    }
}

/* Swiper slider */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-feature .swiper-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-feature .swiper-pagination {
    bottom: 0px;
    top: auto;
}

.swiper-feature .swiper-pagination-bullet {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ee0f6f;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 26px;
    transition: 0.2s;
}
.swiper-feature .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-feature .swiper-pagination-bullet {
    margin: 0 5px;
}
.swiper-feature .swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ee0f6f 0%, #fa6831 100%) repeat scroll 0 0;
    border: medium none;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.swiper-feature .swiper-button-next, .swiper-feature .swiper-button-prev{
    color: #ee0f6f;
    transform: translateY(-50%);
    margin: 0px;
    background: #fa6831;
    border-radius: 2px;
    padding: 30px 15px;
    opacity: 0;
    transition: opacity 0.35s ease;
    width: 30px;
}
.swiper-feature:hover .swiper-button-next, .swiper-feature:hover .swiper-button-prev {
opacity: 1;
}
.swiper-feature:hover .swiper-button-next.swiper-button-disabled, .swiper-feature:hover .swiper-button-prev.swiper-button-disabled {
opacity: 0.35;
}
.swiper-feature .swiper-button-prev:after, .swiper-feature .swiper-button-next:after {
    font-size: 30px;
}
