/* Style for the radio buttons and labels */
.model-alignment {
    position: relative;
    display: flex;
    flex-direction: row;
}
.form-table td fieldset .model-alignment input[type="radio"]{
    appearance: none;
    display: none;
}
.form-table td fieldset .model-alignment label{
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
    padding: 0 8px;
    line-height: 2 !important;
}
.form-table td fieldset .model-alignment .model-part{
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.form-table td fieldset .model-alignment .model-part:first-child{
    margin-left: 0px;
}
.form-table td fieldset .model-alignment .model-part:last-child{
    margin-right: 0px;
}
.form-table td fieldset .model-alignment input[type="radio"]:checked + label{
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
}

.form-table td .model-alignment .breakpoint-part{
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.form-table td .model-alignment .breakpoint-part:first-child{
    margin-left: 0px;
}
.form-table td .model-alignment .breakpoint-part:last-child{
    margin-right: 0px;
}

/* Switch Button */

.model-switchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.model-switchpart {
    position: relative;
}
.form-table td fieldset .model-switchbox input[type="checkbox"]{
    appearance: none;
    display: none;
}
/* .form-table td fieldset .model-switchbox label{
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
    padding: 0 8px;
    line-height: 2 !important;
} */
.model-switchbox label {
    float: left;
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 26px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 4px;
    background-color: #ed6f6f;
    user-select: none;
    -webkit-user-select: none;
}
/* .form-table td fieldset .model-switchbox input[type="radio"]:checked + label{
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
} */


.form-table td fieldset .model-switchbox .switch-on, .form-table td fieldset .model-switchbox .switch-off {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 32px;
    font-size: 11px;
    line-height: 26px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    transition: all .1s;
    cursor: pointer;
}
.form-table td fieldset .model-switchbox .switch-on {
    padding-right: 28px;
}

.form-table td fieldset .model-switchbox .switch-off {
    padding-left: 28px;
    opacity: 1;
}

.model-switchbox input[type="checkbox"]:checked + label {
    background: #4fb845;
}
.model-switchbox input[type="checkbox"]:checked + label .switch-on {
    opacity: 1;
}

.model-switchpart .switch-ball {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 18px;
    background-color: #fff;
    border-radius: 4px;
    transition: all .1s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.15);
}
.model-switchbox input[type="checkbox"]:checked + label .switch-ball {
    left: 100%;
    margin-left: -28px;
}
.model-switchpart + span {
    margin-left: 4px;
}